.eduFlex {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.eduFlex span {
    font-weight: bold;
}

.eduItem {
    padding: 1rem 3rem;
}

.eduItem:nth-of-type(2){
    /* border-image: linear-gradient(to top, #181818, #eee, #181818) 1 100%; 
    border-left: 4px solid var(--darkpurple); */
    /* border-image: linear-gradient(to top, var(--darkpurple), #eee, var(--darkpurple)) 1 100%; */
    /* border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
}