#root {
  margin: 0 auto;
  text-align: center;
}

:root {
 --darkpurple: #6e1884; /*  5f4765  */
 --lightpurple: #f4f4f4;
}

body {
  background-image: url('/src/assets/sea-edgeUp.png') !important;
  background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;    
}

.container {
  width: 1280px;
  margin: 6rem auto;
  background-color: white;
  padding: 3rem 6rem;
  opacity: 75%;
  border: 3px groove var(--darkpurple)
}  

footer {
  height: 12rem;
  background-color: var(--darkpurple);
}